name: Update TCG Data

on:
  schedule:
    - cron: "0 */5 * * *" # Runs Every 4 Hours
  workflow_dispatch:

permissions:
  contents: write  # Allow write access to repository contents
  actions: write   # Allow write access to GitHub Actions

jobs:
  selenium:
    runs-on: ubuntu-latest  # The runner environment (latest version of Ubuntu)

    steps:
    # Step 1: Checkout the repository
    - name: Checkout code
      uses: actions/checkout@v2  # Check out the code in your repository

    # Step 2: Set up Python environment
    - name: Set up Python environment
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'  # You can specify the Python version required for your project

    # Step 3: Install system dependencies
    - name: Install system dependencies
      run: |
        sudo apt update  # Update the package list
        sudo apt install -y wget curl unzip  # Install necessary packages without libgconf-2-4
        sudo add-apt-repository universe  # Add the universe repository if needed
        sudo apt update  # Update package list again after adding repository

    # Step 4: Install Python dependencies from requirements.txt
    - name: Install Python packages
      run: |
        python -m pip install --upgrade pip  # Upgrade pip to the latest version
        pip install -r requirements.txt  # Install Python dependencies listed in requirements.txt

    # Step 5: Run the Selenium tests
    - name: Run Selenium tests
      env:
	FIREBASE_SERVICE_ACCOUNT: ${{ secrets.FIREBASE_SERVICE_ACCOUNT }}
      run: |
        python bestSetFireBase.py  # Execute the seleniumTest.py script

    # Step 6: Upload debug artifacts if the Selenium test fails
    - name: Upload debug artifacts on failure
      if: failure()
      uses: actions/upload-artifact@v4
      with:
        name: selenium-debug-artifacts
        path: |
          error_screenshot.png
          page_source.html
